RewriteEngine on
RewriteCond %{HTTP_HOST} ^domain\.co\.ke [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://domain.co.ke/$1 [R,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php